.index_item {
  display: block;
  position: relative;
  width: 900px;
  margin: 0px auto 20px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
}
.index_item img {
  width: 100%;
  margin: -10px 0 20px;
  height: 250px;
  object-fit: cover;
}
.index_item:nth-last-of-type(2) {
  margin-top: 70px;
}
.index_item h1 {
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
  margin-bottom: 10px;
}
.index_item p {
  font-size: 22px;
  line-height: 32px;
  color: rgba(0, 0, 0, .4);
}
.index_item a {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .index_item {
    display: block;
    position: relative;
    width: 100%;
    margin:  0;
    background: white;
    padding: 90px 10px 0px;
    border: none;
    box-shadow: none;
  }

.index_item h1 {

  font-size: 30px;
  line-height: 40px;
  margin-bottom: 7px;
}

.index_item p {
  font-size: 20px;
  line-height: 28px;
  color: rgba(0, 0, 0, .4);
}
body {
  margin-bottom: 80px;
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1279px){
  .index_item {
    display: block;
    position: relative;
    width: 98%;
    margin: 0px auto 10px;
    padding: 30px 20px;
  }


  .index_item h1 {

  font-size: 32px;
  line-height: 42px;
  margin-bottom: 7px;
  }

  .index_item p {
  font-size: 22px;
  line-height: 30px;
  color: rgba(0, 0, 0, .4);
}

body {
  margin-bottom: 80px;
}
}
@media only screen and (min-device-width: 1280px) {
  .index_item {
    display: block;
    position: relative;
    width: 65%;
    margin: 0px auto 10px;
    padding: 30px 20px;
  }


  .index_item h1 {

  font-size: 34px;
  line-height: 44px;
  margin-bottom: 7px;
  }

  .index_item p {
  font-size: 24px;
  line-height: 32px;
  color: rgba(0, 0, 0, .4);
  }
  body {
    margin-bottom: 50px;
  }
}
